[Unit]
Description=Run Apache weblog ML refresh every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=weblog-ml-refresh.service

[Install]
WantedBy=timers.target
